.input_group {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.input_group:focus-within .label {
  color: #b14ee0;
}

.input_group:focus-within .input {
  border-color: #b14ee0;
  box-shadow: 0 0 5px #b14ee0;
  outline: none;
}

.label {
  font-weight: 600;
  font-size: 1.2rem;
  color: #b3b3b3;
  text-align: left;
}

.input {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.2rem;

  border-radius: 15px;
  border: 1px solid #b3b3b3;
  background-color: #e1e2c34a;

  transition: all 0.3s ease;
}
